<style>
  label{
    display:block;
  }
</style>
<form action="/add/" method="POST">
  <label>Title: <input type="text" name="title"></label>
  <label>Description: <input type="text" name="description"></label>
  <label>Category: <input type="text" name="category"></label>
  <label>Difficulty: <input type="text" name="difficulty"></label>
  <label>Hint: <input type="text" name="hint"></label>
  <label>Time Limit: <input type="text" name="time_limit"></label>
  <label>Memory Limit: <input type="text" name="memory_limit"></label>
  <label>Sample Input: <textarea name="sample_input"></textarea></label>
  <label>Sample Output: <textarea name="sample_output"></textarea></label>
  <label>Input: <textarea name="input"></textarea></label>
  <label>Output: <textarea name="output"></textarea></label>
  <input type="submit">
</form>
<a href="/">Back to problems</a>