<!DOCTYPE HTML>
<html>
<link rel="stylesheet" type="text/css" href="/styles/style.css">

<title>{{template "title" .}}</title>
<body>

	<div class="container">

	    <div class="sideBar">
	      <div class="menuItemsWrapper">
	        <img class="codeRangersLogoSmall" src="/images/logoWhite.png">

	        <div class="sideBarOptionsWrapper">
            <span class = "sideBarItem"><a href="/" class="sideBarItem">Home</a></span>
            {{ if .IsLoggedIn }}<span class = "sideBarItem"><a href="/profile" class="sideBarItem">Personal Records</a></span>
            <br>
            <span class = "sideBarItem"><a href="/submissions" class="sideBarItem">My Submissions</a></span>
            {{ if .IsAdmin }}
            <span class = "sideBarItem"><a href="/add-problem" class="sideBarItem">Create Problem</a></span>
            <span class = "sideBarItem"><a href="/add-skill" class="sideBarItem">Add Skill</a></span>
            {{ end }}
            <span class = "sideBarItem"><a href="/skill-tree" class="sideBarItem">View Skill Tree</a></span>
            <span class = "sideBarItem"><a href="/problems" class="sideBarItem">Browse Problems</a></span>
            <span class = "sideBarItem"><a href="/leaderboards" class="sideBarItem">Leaderboards</a></span>
            <br>
            <form method="POST" action="/logout"><input type="submit" value="Logout"></form>
            {{ end }}
            <!--<span class = "sideBarItem"><a href="/" class="sideBarItem" method="POST" action="/logout" value="logout">Logout</a></span>-->


            <span class = "sideBarItem">{{ if not .IsLoggedIn }} <a href="/login" class="sideBarItem">Log In</a> {{ end }}</span>


            <!-- <button id="myBtn">Open Modal</button> <!-- For testing, delete after -->
	        </div>
	      </div>
	    </div>
      {{template "content" .}}

	</div>


<!-- /*
show verdict with submission id
cgro
and runtime
kng verdict accepted
check kng may newachievement then show it
kng hindi accepted check relatedproblem to suggest
*/ -->

  <!--Modal Stuff-->
<!--      -->

    <!-- The Modal -->
    <div id="submissionReportModal">

      <!-- Modal content -->
      <div class="modalContent">
        <div class="modalHeader" id="modalHeader">
          <span class="close">x</span>
          <h2 id="headerMessage">Solution Accepted</h2>
        </div>

        <div class="status">
          <h3><span id="problemName"><a href="/view/1">ADVENT Dark Events</a></span><br></h3>
          <span id="submissionId">Submission ID: 10</span><br>
          <span id="difficulty">Difficulty: 5</span><br>
          <span id="runtime">Runtime: 21ms</span><br>
          <span id="verdict">Verdict: Accepted</span><br>

          <div class="achievements" id="achievements">
            <h4 id="achievementsTitle">Achievements Unlocked:</h4>
            <div id="achievementContent">
              <div class="achievementItem">
                <img src="/images/achievements/1.png" class="achievementImage">
                <h5>Awesomesauce</h5>
              </div>
            </div>
          </div>

          <div class="recommendedProblems" id="recommendedProblems">
            <h4 id="recommendationTitle">Stuck? Maybe you could try this instead:</h4>
            <div id="recommendedProblemsContent">
              <h3><span id="problemName"><a href="/view/1">Best Sharpshooter Class Build</a></span><br></h3>
                Difficulty: 5<br>
                Description: Lorem ipsuisdfsaf dsfas dfsaf sg fhdha  afgasdfsadf fdsafsdf...
            </div>
          </div>

        </div>

          <div class="modalFooter" id="modalFooter">
            <button type="button" class="orangeBtn modalOkayButton">Okay</button>
          </div>

        <div id="recommendations"></div>
          <div id="recommendedProblemsContent"></span>
      </div>

    </div>

      <script>
      {{template "script" .}}
        var evtSource = new EventSource('/notifications');
        var eventList = document.getElementById('event-list');
        evtSource.onmessage = function(e) {
          var newElement = document.createElement('li');
          var data = JSON.parse(e.data);
          if (data["LoggedOut"] != null) {
            location.reload();
			return;
          }

          alert(e.data);


/*          if(data.Submission.Verdict == "accepted"){
            if(data.NewAchievements != null){
              message2 = "Achievement/s unlocked: " + data.NewAchievements;
            }else{
              message2 = "No new achievements unlocked";
            }
          }else{
            message2 = "If you're stuck, I recommend you try this similar problem:\n" + 
                      data.RelatedProblems[0].Title;
          }*/

          if(data.Submission.Verdict == "accepted"){
            document.getElementById("headerMessage").innerHTML = "Accepted";
            document.getElementById("modalHeader").style.backgroundColor = "#66CC99";
            }
          else{
            document.getElementById("headerMessage").innerHTML = "Rejected";
            document.getElementById("modalHeader").style.backgroundColor = "#CC3F3F";
          }

          // data.Problem.Title
          document.getElementById("problemName").innerHTML = "<a href=/view/" + data.Problem.Index + "\">" + data.Problem.Title + "</a>";
          document.getElementById("submissionId").innerHTML = "Submission ID: " + data.Submission.ID;
          document.getElementById("difficulty").innerHTML = "Difficulty: " + data.Problem.Difficulty;
          document.getElementById("verdict").innerHTML = "Verdict: " + data.Submission.Verdict;
          document.getElementById("runtime").innerHTML = "Runtime: " + data.Submission.Runtime;

          if(data.Submission.Verdict == "accepted"){
            if(data.NewAchievements != null){
              document.getElementById("achievementsTitle").innerHTML = "Achievement/s Unlocked:";
              document.getElementById("achievementContent").innerHTML = 
              "<div id=\"achievementContent\"> \
                <div class=\"achievementItem\"> \
                <img src=\"/images/achievements/1.png\" class=\"achievementImage\"> \
                <h5>Awesomesauce</h5> \
              </div> \
              </div>";

              document.getElementById("recommendationTitle").innerHTML = "";
              document.getElementById("recommendedProblemsContent").innerHTML = "";

            }else{
              document.getElementById("achievementContent").innerHTML = "None";

              document.getElementById("recommendationTitle").innerHTML = "";
              document.getElementById("recommendedProblemsContent").innerHTML = "";
            }
          }else{
            document.getElementById("recommendationTitle").innerHTML = "Stuck? Try this instead:";
            document.getElementById("recommendedProblemsContent").innerHTML = 
            "<h3><span id=\"problemName\"><a href=\"/view/" +
            data.RelatedProblems[0].Index + "\">" + data.RelatedProblems[0].Title +
            "</a></span><br></h3> \
                Difficulty: " + data.RelatedProblems[0].Difficulty + "<br> \
                Description: " + data.RelatedProblems[0].Description.substring(0,150) + "...";

            document.getElementById("achievementsTitle").innerHTML = "";
            document.getElementById("achievementContent").innerHTML = "";
          }

          var modal = document.getElementById("submissionReportModal");

          // Get the button that opens the modal
          var btn = document.getElementById("myBtn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          /*btn.onclick = function() {
            modal.style.display = "block";
          }*/

          modal.style.display = "block";

          span.onclick = function() {
              modal.style.display = "none";
          }

          var modalOk = document.getElementsByClassName("modalOkayButton")[0];
          modalOk.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }

          // When the user clicks on <span> (x), close the modal

          //data.Submission.Username

/*          var message1, message2;

          alert(e.data);

          message1 = "Submission ID: " + data.Submission.ID + "\n" +
                        "Verdict: " + data.Submission.Verdict + "\n\n";

          if(data.Submission.Verdict == "accepted"){
            if(data.NewAchievements != null){
              message2 = "Achievement/s unlocked: " + data.NewAchievements;
            }else{
              message2 = "No new achievements unlocked";
            }
          }else{
            message2 = "If you're stuck, I recommend you try this similar problem:\n" + 
                      data.RelatedProblems[0].Title;
          }
          */
/*
show verdict wiith submission id
cgro
and runtime
kng verdict accepted
check kng may newachievement then show it
kng hindi accepted check relatedproblem to suggest
*/
          //alert(message1 + message2);
          //alert(e.data);
        }

        var modal = document.getElementById("submissionReportModal");

          // Get the button that opens the modal
          var btn = document.getElementById("myBtn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          /*btn.onclick = function() {
             modal.style.display = "block";
           }*/

          //modal.style.display = "block";
          var modalOk = document.getElementsByClassName("modalOkayButton")[0];
          modalOk.onclick = function() {
              modal.style.display = "none";
          }

          span.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }

// MODAL STUFF

        // Get the modal


      </script>
</body>
</html>