<!DOCTYPE HTML>
<html>
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75745308-1', 'auto');
  ga('send', 'pageview');

</script>
<title>{{template "title" .}}</title>
<body>

	<div class="container">

	    <div class="sideBar">
	      <div class="menuItemsWrapper">
	        <img class="codeRangersLogoSmall" src="/images/logoWhite.png">

	        <div class="sideBarOptionsWrapper">
            <span class = "sideBarItem"><a href="/" class="sideBarItem">Home</a></span>
            {{ if .IsLoggedIn }}<span class = "sideBarItem"><a href="/profile" class="sideBarItem">Personal Records</a></span>
            <br>
            <span class = "sideBarItem"><a href="/skill-tree" class="sideBarItem">View Skill Tree</a></span>
            <span class = "sideBarItem"><a href="/my-submissions" class="sideBarItem">My Submissions</a></span>
            <span class = "sideBarItem"><a href="/leaderboards" class="sideBarItem">Leaderboards</a></span>
            {{ if .IsAdmin }}
            <span class = "sideBarItem"><a href="/add-problem" class="sideBarItem">Create Problem</a></span>
            <span class = "sideBarItem"><a href="/add-skill" class="sideBarItem">Add Skill</a></span>
            {{ end }}
            <span class = "sideBarItem"><a href="/problems" class="sideBarItem">Browse Problems</a></span>
            <br>
            <form method="POST" action="/logout"><input type="submit" value="Logout" class="sideBarBtn"></form>
            {{ end }}
            <!--<span class = "sideBarItem"><a href="/" class="sideBarItem" method="POST" action="/logout" value="logout">Logout</a></span>-->


            <span class = "sideBarItem">{{ if not .IsLoggedIn }} <a href="/login" class="sideBarItem">Log In</a> {{ end }}</span>


            <!-- <button id="myBtn">Open Modal</button> <!-- For testing, delete after -->
	        </div>
	      </div>
	    </div>
      {{template "content" .}}

	</div>


<!-- /*
show verdict with submission id
cgro
and runtime
kng verdict accepted
check kng may newachievement then show it
kng hindi accepted check relatedproblem to suggest
*/ -->

  <!--Modal Stuff-->
<!--      -->

    <!-- The Modal -->
    <div id="submissionReportModal">

      <!-- Modal content -->
      <div class="modalContent">
        <div class="modalHeader" id="modalHeader">
          <span class="close">x</span>
          <h2 id="headerMessage">Solution Accepted</h2>
        </div>

        <div class="status">
          <h3><span id="problemName"><a href="/view/1">ADVENT Dark Events</a></span><br></h3>
          <span id="submissionId"><!-- Submission ID: 10 --></span><br>
          <span id="verdict"><!-- Runtime: 21ms --></span><br>
          <hr>
          <br>
          <h4 id="prof1">Profile</h4>

          <div class="XPNotif" id="XPNotif">
            <!-- You have earned 5xp -->
          </div>

           <a href="/profile">
            <div class="containerProfileBannerM" id="prof3">
                <img id="rankImageM" src="/images/rank icons/1.png" class="rankImage2">
              <div class="profileBannerInfoM">
                <h2 id="usernameM"><!-- JM --></h2>
                <h4 id="levelM"><!-- Level: 1 --></h4>

                <div class="containerProgressFlexible">
                    <div id="progressBarM" class="progressBar"><div id="progressBarTextSkillM" class="progressBarText"><!-- 22/30 XP  -->
                    </div></div>
                  </div>

              </div>
              
            </div>
         </a><br id=prof4>

         <div class="recommendedProblems" id="recommendedProblems">
            <h4 id="recommendationTitle"><!-- Stuck? Maybe you could try this instead: --></h4>
            <div id="recommendedProblemsContent">
              <h3><span id="problemName"><a href="/view/1">Best Sharpshooter Class Build</a></span><br></h3>
                <br>
                Description: Lorem ipsuisdfsaf dsfas dfsaf sg fhdha  afgasdfsadf fdsafsdf...
            </div>
          </div>

          <div class="achievements" id="achievements">
            <h4 id="achievementsTitle">Achievements Unlocked:</h4>
            <div id="achievementContent" style="display:flex;">
              <div class="achievementItem">
                <img src="/images/achievements/learned/A.png" class="achievementImage">
                <h5>Awesomesauce</h5>
              </div>
            </div>
          </div> 

        </div>

          <div class="modalFooter" id="modalFooter">
            <button type="button" class="orangeBtn modalOkayButton" id="modalOkBtn">Okay</button>
            <button type="button" class="blueBtn modalOkayButton marginRightHack" id="modalTryBtn">Try Again</button>
          </div>

        <div id="recommendations"></div>
          <div id="recommendedProblemsContent"></span>
      </div>

    </div>

      <script>
      {{template "script" .}}
        var evtSource = new EventSource('/notifications');
        var eventList = document.getElementById('event-list');
        var submissionID;
        evtSource.onmessage = function(e) {
          var newElement = document.createElement('li');
          var data = JSON.parse(e.data);
          if (data["LoggedOut"] != null) {
            location.reload();
            return;
          }
          alert(e.data);

          if(data.Submission.Verdict == "accepted"){
            document.getElementById("headerMessage").innerHTML = "Accepted";
            document.getElementById("modalHeader").style.backgroundColor = "#66CC99";
            document.getElementById("modalTryBtn").innerHTML = "Next Prob";
            }
          else{
            document.getElementById("headerMessage").innerHTML = "Rejected";
            document.getElementById("modalHeader").style.backgroundColor = "#CC3F3F";
            document.getElementById("modalTryBtn").innerHTML = "Try Again";
          }

          // data.Problem.Title
          document.getElementById("problemName").innerHTML = '<a href="/view/' + data.Problem.Index + '">' + data.Problem.Title + "</a>";
          document.getElementById("submissionId").innerHTML = "Submission ID: " + data.Submission.ID;
          //document.getElementById("difficulty").innerHTML = "Difficulty: " + data.Problem.Difficulty;
          document.getElementById("verdict").innerHTML = "Verdict: " + data.Submission.Verdict;
          //document.getElementById("runtime").innerHTML = "Runtime: " + data.Submission.Runtime;

          submissionID = data.Submission.ID;
          
          if(data.Submission.Verdict == "accepted"){
            if(data.NewAchievements != null){
              document.getElementById("achievementsTitle").innerHTML = "Skills Learned/Mastered:";
              var content = "";
              for(var i = 0; i < data.NewAchievements.length; i++) {
                content +=
                "<div id=\"achievementContent\"> \
                  <div class=\"achievementItem\"> \
                  <img src=\"/images/achievements/" + data.NewAchievements[i].Image + "\" class=\"achievementImage\"> \
                  <h5>" + data.NewAchievements[i].Title + "</h5> \
                </div> \
                </div>";
              }
              document.getElementById("achievementContent").innerHTML = content;
              document.getElementById("recommendationTitle").innerHTML = "";
              document.getElementById("recommendedProblemsContent").innerHTML = "";

            }else{
              document.getElementById("achievementsTitle").innerHTML = "";
              document.getElementById("achievementContent").innerHTML = "";
            }

          }else{
            /*if(data.RelatedProblems != null){
            document.getElementById("recommendationTitle").innerHTML = "Stuck? Try this instead:";
            document.getElementById("recommendedProblemsContent").innerHTML = 
            "<h3><span id=\"problemName\"><a href=\"/view/" +
            data.RelatedProblems[0].Index + "\">" + data.RelatedProblems[0].Title +
            "</a></span><br></h3> \
                Difficulty: " + data.RelatedProblems[0].Difficulty + "<br> \
                Description: " + data.RelatedProblems[0].Description.substring(0,150) + "...";
              }else{
                document.getElementById("recommendedProblemsContent").innerHTML = "";
              }*/

            document.getElementById("achievementsTitle").innerHTML = "";
            document.getElementById("achievementContent").innerHTML = "";
          }

          if(data.RelatedProblems != null){

            if(data.Submission.Verdict == "accepted"){
              document.getElementById("recommendationTitle").innerHTML = "Try this problem next!";
            }else{
              document.getElementById("recommendationTitle").innerHTML = "Stuck? Try this instead:";
            }
            
            if(data.RelatedProblems[0].Description == ""){
              document.getElementById("recommendedProblemsContent").innerHTML = 
              "<h3><span id=\"problemName\"><a href=\"/view/" +
              data.RelatedProblems[0].Index + "\">" + data.RelatedProblems[0].Title +
              "</a></span><br></h3>"
               + " \
              Description: " + "(Problem description in attached document)";
            }else{
              document.getElementById("recommendedProblemsContent").innerHTML = 
              "<h3><span id=\"problemName\"><a href=\"/view/" +
              data.RelatedProblems[0].Index + "\">" + data.RelatedProblems[0].Title +
              "</a></span><br></h3>"
               + " \
              Description: " + data.RelatedProblems[0].Description.substring(0,150) + "...";
            }
            
          }else{
            document.getElementById("recommendedProblemsContent").innerHTML = "";
            document.getElementById("recommendationTitle").innerHTML = "";
          }


          if(data.FirstTime && data.Submission.Verdict == "accepted"){
            document.getElementById("prof1").style.display = "block";
            document.getElementById("XPNotif").style.display = "block";
            document.getElementById("prof3").style.display = "block";
            document.getElementById("prof4").style.display = "block";

            document.getElementById("XPNotif").innerHTML = "You have earned " + data.Problem.Difficulty + " XP!";

            document.getElementById("levelM").innerHTML = "Level: " + (Math.floor(data.User.Experience/30) + 1);
            
            var width;
            var xp = data.User.Experience - data.Problem.Difficulty;
            var finalXP = data.User.Experience;

            var inc = data.Problem.Difficulty/50;
            var delayTime = 3;
            var id, id2;

            document.getElementById("progressBarM").style.backgroundColor = "orange";
            function delay(){
              delayTime -= 1;
              if(delayTime <= 0){
                clearInterval(id2)
                id = setInterval(frame, 10);
              }
              
            }
            function frame(){
              if(xp >= finalXP){
                clearInterval(id)
              }else{
                

                console.log(xp);
                xp+=inc;
                width = (xp % 30)/30*100;
                document.getElementById("progressBarM").style.width = width +'%'
                document.getElementById("progressBarTextSkillM").innerHTML = (Math.floor(xp) % 30) + "/30 XP";
              }
            }

            id = setInterval(frame, 10);
            //id2 = setInterval(delay, 1000);
            
            width = (data.User.Experience % 30) - data.Problem.Difficulty/30*100;

            document.getElementById("rankImageM").src = "/images/rank icons/" + (Math.floor(data.User.Experience/30) + 1) + ".png";

          document.getElementById("usernameM").innerHTML = data.User.Username;
          document.getElementById("levelM").innerHTML = "Level: " + (Math.floor(data.User.Experience/30) + 1);
          document.getElementById("progressBarTextSkillM").innerHTML = (data.User.Experience % 30) + "/30 XP";
          document.getElementById("progressBarM").style.width = (data.User.Experience % 30)/30*100 +'%'
          document.getElementById("rankImageM").src = "/images/rank icons/" + (Math.floor(data.User.Experience/30) + 1) + ".png";

          }else if(!data.FirstTime && data.Submission.Verdict == "Accepted"){
            /*document.getElementById("XPNotif").innerHTML = "No XP earned, you have already solved this problem before";*/
            document.getElementById("prof1").style.display = "none";
            document.getElementById("XPNotif").style.display = "none";
            document.getElementById("prof3").style.display = "none";
            document.getElementById("prof4").style.display = "block";

          }else{
            document.getElementById("prof1").style.display = "none";
            document.getElementById("XPNotif").style.display = "none";
            document.getElementById("prof3").style.display = "none";
            document.getElementById("prof4").style.display = "block";
          }





          var modal = document.getElementById("submissionReportModal");

          // Get the button that opens the modal
          var btn = document.getElementById("myBtn");

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          /*btn.onclick = function() {
            modal.style.display = "block";
          }*/

          modal.style.display = "block";

          span.onclick = function() {
              modal.style.display = "none";
          }

          var modalOk = document.getElementById("modalOkBtn");
          modalOk.onclick = function() {
              modal.style.display = "none";
              var xhttp = new XMLHttpRequest();
              xhttp.open("POST", "/viewed-notification", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send("submission_id="+submissionID);
          }

          var modalTryAgain = document.getElementById("modalTryBtn");
          modalTryAgain.onclick = function() {
              modal.style.display = "none";
              if(data.Submission.Verdict == "accepted"){
                window.location.href = "/view/" + data.RelatedProblems[0].Index;
              }else{
                window.location.href = "/view/" + data.Problem.Index;
              }
              
              var xhttp = new XMLHttpRequest();
              xhttp.open("POST", "/viewed-notification", true);
              xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
              xhttp.send("submission_id="+submissionID);
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
                  var xhttp = new XMLHttpRequest();
                  xhttp.open("POST", "/viewed-notification", true);
                  xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                  xhttp.send("submission_id="+submissionID);
              }
          }
        }

        

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "/connect", true);
        xhttp.send();
      </script>
</body>
</html>