<!DOCTYPE HTML>
<html>
<link rel="stylesheet" type="text/css" href="/styles/style.css">

<title>{{template "title" .}}</title>
<body>

	<div class="container">

	    <div class="sideBar">
	      <div class="menuItemsWrapper">
	        <img class="codeRangersLogoSmall" src="/images/logoWhite.png">

	        <div class="sideBarOptionsWrapper">
            <span class = "sideBarItem"><a href="/" class="sideBarItem">Home</a></span>
            {{ if .IsLoggedIn }}<span class = "sideBarItem"><a href="/profile" class="sideBarItem">Personal Records</a></span>
            <br>
            <span class = "sideBarItem"><a href="/submissions" class="sideBarItem">My Submissions</a></span>
            {{ if .IsAdmin }}
            <span class = "sideBarItem"><a href="/add-problem" class="sideBarItem">Create Problem</a></span>
            <span class = "sideBarItem"><a href="/add-skill" class="sideBarItem">Add Skill</a></span>
            {{ end }}
            <span class = "sideBarItem"><a href="/skill-tree" class="sideBarItem">View Skill Tree</a></span>
            <span class = "sideBarItem"><a href="/problems" class="sideBarItem">Browse Problems</a></span>
            <span class = "sideBarItem"><a href="/leaderboards" class="sideBarItem">Leaderboards</a></span>
            <br>
            <form method="POST" action="/logout"><input type="submit" value="Logout"></form>
            {{ end }}
            <!--<span class = "sideBarItem"><a href="/" class="sideBarItem" method="POST" action="/logout" value="logout">Logout</a></span>-->


            <span class = "sideBarItem">{{ if not .IsLoggedIn }} <a href="/login" class="sideBarItem">Log In</a> {{ end }}</span>
	        </div>
	      </div>
	    </div>
      {{template "content" .}}
	</div>
      <script>
      {{template "script" .}}
        var evtSource = new EventSource('http://localhost/notifications');
        var eventList = document.getElementById('event-list');
        evtSource.onmessage = function(e) {
          var newElement = document.createElement('li');
          var data = JSON.parse(e.data);
          if (data["LoggedOut"] != null) {
            location.reload();
          }
          alert(data);
          //newElement.innerHTML = 'message: ' + e.data;
          //eventList.appendChild(newElement);
        }
      </script>
</body>
</html>