<!doctype html>
<html>
  <title>Change Password Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
  <!-- <h1>Login</h1> -->
  <div class="container">

  <div class="loginIcon">
    <img class="codeRangersLogoBig" src="/images/logoBlack.png">
  </div>

    <div class="loginBar">
      <div class="loginWrapper" style="padding-top:10px;">
        <form action="/change-password" method="POST">
        <!-- TODO: use <label>s, remove <br>s -->
          <h2>Change Password</h2>
          Username<br>
          <input type="text" name="username" placeholder="Username" class="textBox" required><br><br>
          Old Password<br>
          <input type="password" name="old_password" placeholder="Password" class="textBox" required><br><br>
          New Password
          <input type="password" name="new_password" placeholder="Password" class="textBox" required><br><br>
          Confirm New Password
          <input type="password" name="cnew_password" placeholder="Password" class="textBox" required><br><br>
          <input type="submit" value="Change" class="orangeBtn">
        </form><br>
      <span style="color:#ff0033;">{{.}}<br></span>
      <span><a href="/login" class="signUpText">Cancel change password.</a></span><br>
      <span><a href="/register" class="signUpText">Don't have an account?<br>Sign up here.</a></span>
      </div>
  </div>

</div>

</body>
</html>