{{define "title"}}Home{{end}}
{{define "script"}}

document.getElementById("progressBar").style.width = {{mod .UserData.Experience 30}}/30*100 +'%'

document.getElementById("progressBarSkill").style.width = {{.Skill.Solved}}/{{.Skill.NumberOfProblems}}*100 +'%'

{{end}}	
{{define "content"}}

  <div class="containerContent">

  <div class="containerHomePageWelcomeBanner">
  	<img src="/images/scientist.png" class="homePageWelcomeImage">

  	<div class="homePageWelcomeText">
  		<h1>Welcome back, {{.UserData.Username}}!</h1>
  		<div>Nodes that are grayed out in the skill tree are locked. You will need to learn all the connecting nodes above it in order to solve the problems there.</div>

  	</div>


  </div>

  {{if .Started}}
  <h1><a href="/skill/EXAM1">EXAM1</a></h1>
  {{end}}
  {{if .SuggestProblem}}
  <form action="/add-name" method="POST">
  <h3>Add your name here</h3>
  <label>First Name: <input type="text" name="first_name"></label>
  <label>Last Name: <input type="text" name="last_name"></label>
  <input type="submit" value="Update">
  </form>
  <h1>Problem</h1>
  Command has requested this particular problem be prioritized
  <a href="/view/{{.Problem.Index}}" >
  <div class="containerProfileBanner">
    <div class="profileBannerInfo">

        <div class="sProblemHome">
          <div class="problemInfoElement2">
            <img src="/images/skill-icons/{{.Problem.SkillID}}.png" class="difficultyImageSmall">
          </div>
          <h2 class="noMargin">{{.Problem.Title}}</h2>
      </div>

      <div class="problemInfo">
               
      </div>

      {{if $.HasOtherUser}}
      <div class="otherUser">{{$.OtherUser.Username}} has recently solved this problem.</div>
      {{end}}

      <div>{{/*.Problem.Description*/}}</div>


      <!-- <div class="infoHeader">
          <div class="problemInfoElement">
            <img src="/images/difficulty icons/{{.Problem.Difficulty}}.png" class="difficultyImageSmall"><span><strong>Difficulty</strong></span>
          </div>

          <div class="problemInfoElement">
            <img src="/images/skill-icons/{{.Problem.SkillID}}.png" class="difficultyImageSmall"><span><strong>Skill</strong></span>
          </div>

          <div class="problemInfoElement">
            <img src="/images/{{if .Problem.Solved}}solved{{else}}unsolved{{end}}.png" class="difficultyImageSmall"><span><strong>{{if .Problem.Solved}}Solved{{else}}Unsolved{{end}}</strong></span>
          </div>
      </div> -->

      </div>  
  </div>
  </a>
  {{end}} 

  {{if .SuggestSkill}}


  <h1>Skills</h1>
  The more subject areas you people are familiar know the better chance we have at succeeding here
  <a href="/skill/{{.Skill.ID}}" >
  <div class="containerProfileBanner">
      <img src="/images/skill-icons/{{.Skill.ID}}.png" class="rankImage">
    <div class="profileBannerInfo">
      <h2>{{.Skill.Title}}</h2>
      <div class="containerProgress">
          <div id="progressBarSkill" class="progressBar"><div id="progressBarText" class="progressBarText">{{.Skill.Solved}}/{{.Skill.NumberOfProblems}} Problems Solved
          </div></div>
      </div>
      <h4>{{.Skill.Description}}</h4>

      {{if .Skill.Learned}}Try to master this skill. Solve {{minus .Skill.NumberOfProblems .Skill.Solved}} more problems to master the skill.
      {{else}}Learn this skill. Solve {{minus .Skill.NumberOfProblemsToUnlock .Skill.Solved}} more problems to learn the skill.{{end}}

    </div>
    
  </div>
  </a>
  {{end}} 


  <h1>Profile</h1>
  See how well you are doing so far

  <a href="/profile">
    <div class="containerProfileBanner">
    		<img src="/images/rank icons/{{xpToLevel .UserData.Experience}}.png" class="rankImage2">
    	<div class="profileBannerInfo">
    		<h2>{{.UserData.Username}}</h2>
    		<h4>Level: {{xpToLevel .UserData.Experience}}</h4>

    		<div class="containerProgress">
            <div id="progressBar" class="progressBar"><div id="progressBarTextSkill" class="progressBarText">{{mod .UserData.Experience 30}}/30 XP 
            </div></div>
          </div>

    	</div>
    	
    </div>
  </a>
  
  
  
  <br><br>


<!-- 
 Welcome back, {{.UserData.Username}}

  Level: {{xpToLevel .UserData.Experience}}
  Experience: {{.UserData.Experience}}/100
  {{if .SuggestSkill}}
    {{if .Skill.Learned}}Try to master this skill. Solve {{minus .Skill.NumberOfProblems .Skill.Solved}} more problems to master the skill.
    {{else}}Learn this skill. Solve {{minus .Skill.NumberOfProblemsToUnlock .Skill.Solved}} more problems to learn the skill.{{end}}
  {{end}} 
-->

  </div>

{{end}}
    