{{define "title"}}Leaderboards{{end}}
{{define "script"}}{{end}}
{{define "content"}}

<div class="containerContent">
		
  <h1>Leaderboard</h1>
    <table class="tableLeaderboard">
      <hr>
      <tr>
        <td>Rank</td>
        <td>Level</td>
        <td>Username</td>
        <td>XP</td>
      </tr>
      {{ range  $index, $element := .Leaderboards }}
      <tr {{if eq $.UserID $element.ID}}class="currentUserLeaderboard"{{else}}{{end}}>
        <td>{{add $index 1}}</td>
        <td><img class="difficultyImageSmall2" src="/images/rank icons/{{xpToLevel $element.Experience}}.png" title="Level: {{xpToLevel $element.Experience}}"></td>
        <td><a href="/profile/{{.ID}}">{{$element.Username}}</a></td>
        <td>{{$element.Experience}}</td>
      </tr>
      {{ end }}
    </table>

</div>
{{end}}