<!doctype html>
<html>
  <title>Login Page</title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
<body>
  <!-- <h1>Login</h1> -->
  <div class="container">

  <div class="loginIcon">
    <img class="codeRangersLogoBig" src="/images/logoBlack.png">
  </div>

    <div class="loginBar">
      <div class="loginWrapper">
        <form action="/login" method="POST">
        <!-- TODO: use <label>s, remove <br>s -->
          Username<br>
          <input type="text" name="username" placeholder="Username" class="textBox" required><br><br>
          Password<br>
          <input type="password" name="password" placeholder="Password" class="textBox" required><br><br>
          <input type="submit" value="Login" class="orangeBtn">
        </form><br>
      <span style="color:#ff0033;">{{.}}<br></span>
      <span><a href="/change-password" class="signUpText">Change your password here.</a></span>
      <br>
      <span><a href="/register" class="signUpText">Don't have an account?<br>Sign up here.</a></span>
      </div>
  </div>

</div>

</body>
</html>