<!doctype html>
<html>
  <title>Login Page</title>
<body>
  <!-- <h1>Login</h1> -->
  <form action="/login" method="POST">
  <!-- TODO: use <label>s, remove <br>s -->
    Username<br>
    <input type="text" name="username" class="textBox" required><br><br>
    Password<br>
    <input type="password" name="password" class="textBox" required><br><br>
    <input type="submit" value="Login" class="loginBtn">
  </form><br>

  <span class="signUpText"><a href="/register">Don't have an account?<br>Sign up here.</a></span>
</body>
</html>