{{define "title"}}{{.Skill.Title}}{{end}}
{{define "script"}}

  document.getElementById("problemsToMaster").innerHTML = "<strong>{{if .Skill.Learned}}Solve " + ({{len .ProblemList}} - {{.Skill.Solved}}) + " more problems to master the skill.{{else}}Solve {{minus .Skill.NumberOfProblemsToUnlock .Skill.Solved}} more problems to learn the skill.{{end}}</strong>";

  document.getElementById("progressBar").style.width = {{.Skill.Solved}}/{{len .ProblemList}}*100 +'%';



{{end}}
{{define "content"}}

<!--   <div class="containerContent">

  {{.Skill.ID}}
  {{.Skill.Title}}
  {{.Skill.Description}}
  Mastered: {{.Skill.Mastered}}
  Learned: {{.Skill.Learned}}
  Solved: {{.Skill.Solved}}
  Problems To Unlock: {{.Skill.NumberOfProblemsToUnlock}}
  Problem Count: {{len .ProblemList}}
  <ul>
    {{range .ProblemList}}
    <li>{{if $.IsLoggedIn}}{{.Solved}}{{end}} - {{.SkillID}} - <a href="/view/{{.Index}}">{{.Title}}</a> {{ if $.IsAdmin }} <a href="/edit/{{.Index}}">Edit Problem</a> <form style="display:inline;" action="/delete" method="POST"><input type="hidden" value="{{.Index}}" name="problem_id"><input type="submit" value="Delete"></form> {{ end }}  </li>
    {{end}}
  </ul>

  </div> -->

  <div class="containerContent">

  <!-- {{.Skill.ID}} -->

<!--   {{.Skill.ID}}
  {{.Skill.Title}}
  {{.Skill.Description}}
  Mastered: {{.Skill.Mastered}}
  Learned: {{.Skill.Learned}}
  Solved: {{.Skill.Solved}}
  Problems To Unlock: {{.Skill.NumberOfProblemsToUnlock}}
  Problem Count: {{len .ProblemList}} -->



    <div class="containerSkillHeader">
<!--"/images/skill icons/" + {{.Skill.Title}} + ".png"-->
      <div class="containerSkillIcon">
        <img src="/images/skill icons/{{.Skill.ID}}.png">
      </div>

      <div class="containerSkillInfo">
        <h1 id="skillTitle">{{.Skill.Title}}</h1>

        <div class="containerProgress">
          <div id="progressBar" class="progressBar"><div id="progressBarText" class="progressBarText">{{.Skill.Solved}}/{{len .ProblemList}} Problems Solved</div></div>
        </div>
        <div id="problemsToMaster"><strong>{{if .Skill.Learned}}Try to master this skill. Solve {{minus .Skill.NumberOfProblems .Skill.Solved}} more problems to master the skill.
      {{else}}Learn this skill. Solve {{minus .Skill.NumberOfProblemsToUnlock .Skill.Solved}} more problems to learn the skill.{{end}}</strong><br></div>
        {{.Skill.Description}}
      </div>
    </div>

    <table>
        <tr>
<!--           <td>Status</td>
          <td>Skill ID</td> -->
          <td>ID</td>
          <td>Problem</td>
          <td>Status</td>
          {{ if $.IsAdmin}}
          <td>Edit</td>
          <td>Delete</td>
          {{end}}
        </tr>

        {{range .ProblemList}}
          <tr class="{{if .Solved}}problemRowSolved{{else}}problemRowUnsolved{{end}}">
<!--             <td>{{if $.IsLoggedIn}}{{.Solved}}{{end}}</td>
            <td>{{.SkillID}}</td> -->
              <td>{{.Index}}</td>
              <td><a href="/view/{{.Index}}">{{.Title}}</a></td>
              <td>{{if .Solved}}Solved{{else}}Not Solved{{end}}</td>
              {{ if $.IsAdmin }}
                <td><a href="/edit/{{.Index}}">Edit Problem</a></td>
                <td><form style="display:inline;" action="/delete" method="POST"><input type="hidden" value="{{.Index}}" name="problem_id"><input type="submit" value="Delete"></form> </td>
              {{end}}
       
          </tr>
        {{end}}

        


  </div>


  
{{end}}