{{define "title"}}{{.Skill.Title}}{{end}}
{{define "script"}}

  var x;
  x = {{len .ProblemList}} - {{.Skill.Solved}};
  document.getElementById("problemsToMaster").innerHTML = "<strong>Required Problems to Master: " + x + "</strong>";


{{end}}
{{define "content"}}

<!--   <div class="containerContent">

  {{.Skill.ID}}
  {{.Skill.Title}}
  {{.Skill.Description}}
  Mastered: {{.Skill.Mastered}}
  Learned: {{.Skill.Learned}}
  Solved: {{.Skill.Solved}}
  Problems To Unlock: {{.Skill.NumberOfProblemsToUnlock}}
  Problem Count: {{len .ProblemList}}
  <ul>
    {{range .ProblemList}}
    <li>{{if $.IsLoggedIn}}{{.Solved}}{{end}} - {{.SkillID}} - <a href="/view/{{.Index}}">{{.Title}}</a> {{ if $.IsAdmin }} <a href="/edit/{{.Index}}">Edit Problem</a> <form style="display:inline;" action="/delete" method="POST"><input type="hidden" value="{{.Index}}" name="problem_id"><input type="submit" value="Delete"></form> {{ end }}  </li>
    {{end}}
  </ul>

  </div> -->

  <div class="containerContent">

  <!-- {{.Skill.ID}} -->

  {{.Skill.ID}}
  {{.Skill.Title}}
  {{.Skill.Description}}
  Mastered: {{.Skill.Mastered}}
  Learned: {{.Skill.Learned}}
  Solved: {{.Skill.Solved}}
  Problems To Unlock: {{.Skill.NumberOfProblemsToUnlock}}
  Problem Count: {{len .ProblemList}}



    <div class="containerSkillHeader">
<!--"/images/skill icons/" + {{.Skill.Title}} + ".png"-->
      <div class="containerSkillIcon">
        <img src="/images/skill icons/{{.Skill.ID}}.png">
      </div>

      <div class="containerSkillInfo">
        <h1 id="skillTitle">{{.Skill.Title}}</h1>

        <div class="containerProgress">
          <div id="progressBar"><div id="progressBarText">{{.Skill.Solved}}/{{len .ProblemList}} Problems Solved</div></div>
        </div>
        <div id="problemsToMaster"><strong>Required Problems to Master: X</strong><br></div>
        {{.Skill.Description}}
      </div>
    </div>

    <table>
        <tr>
<!--           <td>Status</td>
          <td>Skill ID</td> -->
          <td>Problem</td>
          {{ if $.IsAdmin}}
          <td>Edit</td>
          <td>Delete</td>
          {{end}}
        </tr>

        {{range .ProblemList}}
          <tr>
<!--             <td>{{if $.IsLoggedIn}}{{.Solved}}{{end}}</td>
            <td>{{.SkillID}}</td> -->
            <td><a href="/view/{{.Index}}">{{.Title}}</a></td>
            {{ if $.IsAdmin }}
              <td><a href="/edit/{{.Index}}">Edit Problem</a></td>
              <td><form style="display:inline;" action="/delete" method="POST"><input type="hidden" value="{{.Index}}" name="problem_id"><input type="submit" value="Delete"></form> </td>
            {{end}}
          </tr>
        {{end}}

        <ul>

  </ul>


  </div>


  
{{end}}