<!DOCTYPE HTML>
<html>
<body>
  {{ if .IsAdmin }}<a href="/add/">Create a Problem</a> {{ end }}
  {{ if .IsLoggedIn }} <form method="POST" action="/logout"><input type="submit" value="Logout"></form> {{ end }}
  {{ if not .IsLoggedIn }} <a href="/login">Log In here</a> {{ end }}
  <a href="/submissions">View Submissions</a>
  <a href="/leaderboards">View Leaderboards</a>
  {{ if .IsLoggedIn }} <a href="/profile">View Profile</a> {{ end }}
  <ul>
    {{range .ProblemList}}
    <li>{{.Category}} - <a href="/view/{{.Index}}">{{.Title}}</a> {{ if $.IsAdmin }} <a href="/edit/{{.Index}}">Edit Problem</a> <form style="display:inline;" action="/delete" method="POST"><input type="hidden" value="{{.Index}}" name="problem_id"><input type="submit" value="Delete"></form> {{ end }} </li>
    {{end}}
  </ul>
  {{ if .IsLoggedIn }}
  <h1>Daily Challenge</h1>
  <a href="/view/{{ .DailyChallenge.Index }}">
  {{ .DailyChallenge.Title}} - {{ .DailyChallenge.Category}} - {{ .DailyChallenge.Difficulty }}
  </a>
  {{ end }}
</body>
</html>