{{define "title"}}{{.Problem.Title}}{{end}}
{{define "script"}}{{end}}
{{define "content"}}

    <div class="containerContent">

		<h1>{{.Problem.Title}}</h1>
		<p>Skill: {{.Skill.Title}} <img style="vertical-align:middle;max-width:30px;" src="/images/skill icons/{{.Skill.ID}}.png"></p>
		<p>Difficulty: {{.Problem.Difficulty}}</p>
		
<!-- 		<h3>Submitted: {{.Submitted}}</h3>
		<h3>Accepted: {{.VerdictData.Accepted}}</h3>
		<h3>Rate: {{.Rate}}%</h3> -->

		<!-- <h3>Chart Data</h3>
		<h4>Accepted: {{.VerdictData.Accepted}}</h4>
		<h4>Wrong Answer: {{.VerdictData.WrongAnswer}}</h4>
		<h4>Compile Error: {{.VerdictData.CompileError}}</h4>
		<h4>Runtime Error: {{.VerdictData.RuntimeError}}</h4>
		<h4>Time Limit Exceeded: {{.VerdictData.TimeLimitExceeded}}</h4> -->

    {{if eq .Problem.UvaID "" }}
		<p style="width:800px">{{.Problem.Description}}</p>
		<h2>Sample Input</h2>
		<p>{{.Problem.SampleInput | fixNewLines}}</p>
		<h2>Sample Output</h2>
		<p>{{.Problem.SampleOutput | fixNewLines}}</p>
    {{else}}
    <iframe src="https://uva.onlinejudge.org/external/{{makeUvaExternal .Problem.UvaID}}/{{ .Problem.UvaID}}.pdf" width="1000px" height="568"></iframe>
    {{end}}
		<form action="/submit/{{.Problem.Index}}" method="POST" {{if .Locked}} disabled {{end}}>
		  <textarea name="code" class="codeBox" {{if .Locked}} disabled {{end}}></textarea> <br>
		<input type="submit" class="orangeBtn" {{if .Locked}} disabled {{end}}>
		</form>
    </div>
{{end}}