{{define "title"}}{{.Problem.Title}}{{end}}
{{define "script"}}{{end}}
{{define "content"}}

    <div class="containerContent">

		<h1>{{.Problem.Title}}</h1>

		<div class="infoHeaderLarge">
          <div class="problemInfoElementLarge">
            <img src="/images/difficulty icons/{{.Problem.Difficulty}}.png" class="difficultyImageLarge"><span><strong>Difficulty</strong></span>
          </div>

          <div class="problemInfoElementLarge">
            <!-- <a href="/skill/{{.Problem.SkillID}}"> --><img src="/images/skill icons/{{.Problem.SkillID}}.png" class="difficultyImageLarge" title="{{.Skill.Title}}"><!-- </a> --><span><strong>Skill</strong></span>
          </div>

          <div class="problemInfoElementLarge">
            <!-- <a href="/skill/{{.Problem.SkillID}}"> --><img src="/images/{{if .Problem.Solved}}solved{{else}}unsolved{{end}}.png" class="difficultyImageLarge" title="{{if .Problem.Solved}}Solved{{else}}Unsolved{{end}}"><!-- </a> --><span><strong>{{if .Problem.Solved}}Solved{{else}}Unsolved{{end}}</strong></span>
          </div>
      	</div>

    {{if eq .Problem.UvaID "" }}
		<p style="width:800px">{{.Problem.Description}}</p>
		<h2>Sample Input</h2>
		<p>{{.Problem.SampleInput | fixNewLines}}</p>
		<h2>Sample Output</h2>
		<p>{{.Problem.SampleOutput | fixNewLines}}</p>
    {{else}}
    <iframe src="https://uva.onlinejudge.org/external/{{makeUvaExternal .Problem.UvaID}}/{{ .Problem.UvaID}}.pdf" width="1000px" height="568"></iframe>
    {{end}}


		<form action="/submit/{{.Problem.Index}}" method="POST" {{if .Locked}} disabled {{end}}>
      {{if not (eq .Problem.UvaID "")}}
        <div>
          <input type="radio" name="language" value="Java" required><label>Java</label>
          <input type="radio" name="language" value="C"><label>C</label>
        </div>
      {{else}}
      <input type="hidden" name="language" value="Java">
      {{end}}
      
		  <textarea name="code" class="codeBox" placeholder="{{if .Locked}}SKILL LOCKED - learn all requisite skills to solve this problem{{else}}[Place your code here]{{end}}" {{if .Locked}} disabled {{end}}>{{if .Locked}}SKILL LOCKED - learn all requisite skills to solve this problem{{else}}{{.Code}}{{end}}</textarea> <br>
		<input type="submit" class="orangeBtn" {{if .Locked}} disabled {{end}}>
		</form>
    </div>
{{end}}