
{{define "title"}}{{.UserData.Username}}{{end}}
{{define "script"}}

  if(document.getElementsByClassName("achievementItem")[0].innerHTML == null){
      document.getElementsByClassName("containerAchievements")[0].innerHTML = "<h2>None... For now...</h2>";
    }

     //document.getElementsByClassName("containerAchievements")[0].innerHTML = "<h2>None... For now...</h2>"

     document.getElementById("containerProgress").style.width = {{.UserData.Experience}}/100*100 +'%'

{{end}}
{{define "content"}}
<div class="containerContent">
  <h1>Personal Record</h1><br>
  <div class="containerProfileInfo">
    <div class="profileInfo1">
  
      <h2 class="noMargin">{{.UserData.Username}}</h2>
      <h4 class="noMargin">ID: PDR-42095K</h4>
      <h4 class="noMargin">F/N: 452-32B9</h4>
      <img class="rankImageLarge" src="/images/rank7.png">

      <h4>Level: {{xpToLevel .UserData.Experience}}</h4>
      <div class="containerProgressFlexible">
            <div id="containerProgress" class="progressBar"><div id="progressBarTextSkill" class="progressBarText">{{.UserData.Experience}}/100 XP 
            </div></div>
      </div>

      <table class="hiddenTable">
        <tr>
          <td></td>
          <td align="right"></td>
        </tr>
        <tr>
          <td>Experience</td>
          <td align="right">{{.UserData.Experience}}</td>
        </tr>
        <tr>
          <td>Problems Solved</td>
          <td align="right">{{.UserData.Accepted}}</td>
        </tr>
        <tr>
          <td>Problems Attempted</td>
          <td align="right">{{.UserData.Attempted}}</td>
        </tr>
        <tr>
          <td>Submitted Solutions</td>
          <td align="right">{{.UserData.Submitted}}</td>
        </tr>
      </table>

    </div>


    </div>

  </div>

  <div class="profileInfo2">
    <h1>Commendations</h1>

      <div class="containerAchievements">
            {{if .Achievements}}
              {{range .Achievements}}
              <div class="achievementItem">
                <div>
                  <img src="/images/{{.Image}}" class="achievementImage"><br>
                  {{.Title}}
                </div>
              </div>
              {{end}}
            {{else}}
              <h2>None... For now...</h2>
            {{end}}
      </div>

</div>
{{end}}
