/*
a{
	color: #FFFFFF;
	font-weight: bold;
}

.notAButton{
  color: #FFFFFF;
	font-weight: bold;
  background:none;
  border:none; 
  padding:0;
  font-family: "Century Gothic";
  font-size:16px;
  text-decoration: underline;
  cursor: pointer;
}

.headerBlue{
	height: 90px;
	background: #36364A;
}

.hexText{
	position: absolute;
	left: 160px;
	top: 6px;
	font-family: "Times New Roman";
	font-size: 37pt;
}

.hexTextSm{
	font-size: 25pt;
}

.hexSubText{
	position: absolute;
	left: 165px;
	top: 55px;
	font-size: 12pt;
}
.hexLogo{
	width: 113px;
	height: auto;
	margin-left: 30px;
	margin-top: 15px;
}

.headerRed{
	height: 20px;
	background: #992525;
}

.logoutText{
	position: absolute;
	right: 20px;
	top: 60px;
	font-size: 12pt;
}

.highlightedText{
	background-color: #992525;
}

.logoutText a{
	color: #FFFFFF;
}

.loginDiv{
	width: 30%;
	height: 100%;
	background: #1A1A1E;
}

.pageDiv{
	width: 45%;
	height: 100%;
	background: #1A1A1E;
}

.loginWrapper{
	padding-top: 60px;
	padding-left: 60px;
	font-size: 20px;
}

.bodyWrapper{
	padding-top: 5px;
	padding-left: 30px;
}

.textBox{
	height: 35px;
	width: 75%;
}

.loginBtn{
	background: #858598;
	color: #1A1A1E;
	border: none;
	height: 30px;
	width: 30%;
	font-size: 16px;
	margin-top:5px;
}



.Search {
  display: inline;
  left: 700px;
  position: relative;
}

*/

/* The Modal (background) */


a{
	text-decoration: none;
}

a:visited, a:active, a:link{
	color: #333333;;
}

a:hover{
	color: #777777;
}

.nextBtn{
	font-size: 18px;
	color: white;
	background: #CDCCC6;
	padding: 5px 10px 5px 10px;
	border-top: 10px;
}

.signUpText:visited, .signUpText:active, .signUpText:link{
	color:#F2F0E9;
}

.signUpText:hover{
	color: #777777;
}

#submissionReportModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modalContent {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    width: 40%; /* Could be more or less, depending on screen size */
}

.status h3, h5{
	margin:0px;
}

.status{
	padding: 20px;
	padding-top: 10px;
}

.targeteer{
	position: absolute;
	left: 100px;
	top: 100px;
}

.modalHeader{
	background-color: #66CC99;
	padding: 10px;
	padding-top: 15px;
	padding-left: 20px;
	color: black;
}

.modalFooter{
	background-color: #232323;
	padding: 20px;
	padding-bottom: 10px;
	height: 50px;
}

#headerMessage{
	margin: 0px;
}

.achievements{
	margin-top: 10px;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalOkayButton{
	float:right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


#verdictHeader{
	color: #66CC99;
}

.containerProfileBanner{
	text-decoration: none;
}

.profileBannerInfo{
	text-decoration: none;
}

.noMargin{
	margin: 0px;
}

.difficultyImageSmall{
	width: 35px;
	margin-bottom: 5px;
}

.difficultyImageSmallNoMargin{
	width: 35px;
}

.difficultyImageSmall2{
	width: 35px;
}

.difficultyImageLarge{
	width: 50px;
	margin-bottom: 5px;
}

.difficultyImageLargeNoMargin{
	width: 50px;
	margin-bottom: 0px;
}

.problemInfo{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 100%;
	float: right;
	word-wrap: normal
}

.left{
	flex-grow: 1;
}

.vProblemOtherInfo{
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}

.aLeft{
	align-self: flex-end;
}

.icons{
	width: 100%;
	flex-direction: row;
	align-items: flex-end;
}

.problemInfoElement{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-right: 30px;
	font-size: 12px;
}

.problemInfoElementLarge{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-right: 30px;
	font-size: 15px;
}

.problemInfoElementLargeSmallMargin{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 15px;
	margin-bottom: 0px;
}

.problemInfoElement2{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 12px;
	margin-right: 10px;
}

.vProblemTitleHeader{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 10px;
}


.infoHeader{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	float: right;
}

.infoHeaderLarge{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	float: right;
	margin-bottom: 10px;
}

.profileInfo1{
	color: #333333;
	display: flex;
	flex-direction: column;

	margin-right: 30px;

	flex: none;

	/*font-family: "Bebas Neue";
	font-size: 19px;
	size:100%;*/
}

.profileInfo2{
	color: #333333;
	display: flex;
	flex-direction: column;
	margin-top: 0px;

}

.containerAchievements{
	display: div;
	align-items: flex-start;
	font-size: 12px;
	text-align: center;
  width:700px;
}

.problemRowUnsolved a{
	color: #333333;
}

.problemRowUnsolved a:hover{
	color: #777777;
}
/*link, a:visited, a:hover, a:active*/
.problemRowSolved a{
	color: #006600;
}

.achievementImage{
	width: 70px;
}

.achievementItem{
	display:inline-flex;
	margin: 10px;
	flex-direction: column;
	align-items: center;
	width: 150px;
	text-align: center;
}

.containerProfileInfo{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.containerProgress {
    position: relative;
    width: 500px;
    height: 30px;
    background-color: #8FABB6;
    margin-bottom: 5px;
}

.profileInfoParent{
	display: flex;
	flex-direction: row;
}

.containerProgressM {
    position: relative;
    width: 500px;
    height: 30px;
    background-color: #8FABB6;
    margin-bottom: 5px;
}

.containerProgressFlexible {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #8FABB6;
    margin-bottom: 5px;
}

/*#progressBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #2EC4E9;
}

#progressBarText{
	text-align: left;
	line-height: 30px;
	color: white;
	white-space: nowrap;
	margin-left: 10px;
}
*/
.progressBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #2EC4E9;
}

.progressBarText{
	text-align: left;
	line-height: 30px;
	color: white;
	white-space: nowrap;
	margin-left: 10px;
}

/*.skillTreeIconLocked path, polygon{
	fill: gray;
}*/

.containerHomePageWelcomeBanner{
	display: flex;
	margin-top: 40px;
	flex-direction: row;
	align-items: center;
	width: 640px;
}

.homePageWelcomeImage{
	height: 140px;
	width: auto;
}

.arrowProbs{
	height: 90px;
	width: auto;
	display: none;
}

.st29{fill:#C6222F;}


.homePageWelcomeText{
	flex-direction: row;
	align-items: center;
	margin-left: 15px;
}

.containerProfileBannerM{
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	width: 95%;

	background-color: #DBDBDB;
	padding: 10px;
	text-decoration: none;
}

.scientistImageM{
	height: 90px;
	width: auto;
	margin-right: 10px;
	align-self: flex-start;
}

.containerProfileBanner{
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	width: 630px;

	background-color: #DBDBDB;
	padding: 10px;
	text-decoration: none;
}

.profileBannerInfo{
	align-content: center;
}

.profileBannerInfoM{
	width: 100%;
}

.submittedProblemM{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.submittedProblemTextM{
}

.imageSmallM{
	width: 35px;
	height: 35px;
	margin-right: 5px;
}

.profileBannerInfoM > h2, h4{
	margin: 0px;
}


.profileBannerInfo > h2, h4{
	margin: 0px;
}

.sProblemHome{
	display:flex;
	align-items: center;
}

.test{
	align-self: flex-end;
}

.skillTreePathLocked{
	stroke: gray;
}

.skillTreeLocHide{
	display: none;
}

.skilltreeLocShow{
	display: block;
}

.containerSkillTreeInformation{
	width: 340px;
	position: fixed;
	top: 75px;
	right: 20px;
	background-color: #DBDBDB;
	display: none;
}

.skillTreeInformationHeader{
	padding: 10px;
	padding-top: 15px;
	background-color: #232323;
	color: #F2F0E9;
}

.skillTreeInformationHeaderLocked{
	padding: 10px;
	background-color: #CC3F3F;
	color: #F2F0E9;
	display: none;
}

.containerProgressSKI{
	position: relative;
    width: 100%;
    height: 30px;
    background-color: #8FABB6;
    margin-bottom: 5px;
}

.progressBarSKI{
	position: absolute;
    width: 10%;
    height: 100%;
    background-color: #2EC4E9;
}

.nudgeLeft{
	padding-left: 10px;
}

.containerProgressFlexible {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #8FABB6;
    margin-bottom: 5px;
}


.progressBar {
    position: absolute;
    width: 10%;
    height: 100%;
    background-color: #2EC4E9;
 }

.skillTreeInfomrationContent{
	padding: 10px;
}

.containerSkillTree{
	display: flex;
	flex-align: flex-start;
}

.rankImage{
/*	height: 100px !important;*/
	width: 80px;
	height: 80px;

	margin-right: 10px;
}

.rankImage2{
	width: 80px;
	height: 80px;

	margin-right: 10px;
}

.rankImageLarge{
/*	height: 100px !important;*/
	width: 190px;
	flex: none;
}

.orangeBtn{
	background: #FF6600;
	color: #FFFFFF;
	border: none;
	height: 40px;
	width: 125px;
	font-size: 19px;
	margin-top:5px;
}

.blueBtn{
	background: #2599B6;
	color: #FFFFFF;
	border: none;
	height: 40px;
	width: 125px;
	font-size: 19px;
	margin-top:5px;
}

.textBox{
	height: 35px;
	width: 75%;
}

.container{
   display: flex;
   height: auto;
   min-height: 100%;
   width: auto;
   min-width: 100%;
}

.codeRangersLogoBig{
	width: 400px;
	height: auto;
	margin-left: auto;
	margin-right: auto;

	object-fit: contain;
}

.loginIcon {
	margin: auto;
	align-items: right;
}

.loginWrapper{
	padding-top: 35%;
	padding-left: 60px;
	font-size: 20px;
	color: #FFFFFF;
}

.loginBar {
	background: #1C1C1C;
	width: 400px;
}

.sideBar {
  background: #1C1C1C;
  width: 200px;
  min-width: 200px;
  height: auto;
  min-height: 100%;
}

.sideBarItem{
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
}

.sideBarBtn{
	display: block;
	font-size: 18px;

	background:none;
    border:none;
    margin:0;
    padding:0;
    color: #FFFFFF;
}

.sideBarBtn:hover{
	color: #D0D0D0;
	cursor: hand;
	cursor: pointer;
}

a.sideBarItem:link, a.sideBarItem:visited
a.sideBarItem:hover, a.sideBarItem:active{
	text-decoration: none;
	color: #FFFFFF;
}

.sideBarItem a:visited{
	text-decoration: none;
	color: #FFFFFF;
}

.sideBarItem a:hover{
	text-decoration: none;
	color: #D0D0D0;
}

.sideBarItem a:active{
	text-decoration: none;
	color: #FFFFFF;
}

.menuItemsWrapper{
	margin-left: 25px;
	margin-top: 25px;
}

.codeRangersLogoSmall{
	width: 80%;
	height: auto;
}

.sideBarOptionsWrapper{
	margin-top: 40px;
}

.menuItemLink: link{
	text-decoration: none;
}


.containerContent{
   	height: auto;
	width: auto;
	color: #333333;


	word-wrap: break-word;

	margin-left: 20px;
}

.containerSkillHeader{
	height: auto;
	width: 650px;
	background-color: #DBDBDB;
	display: flex;
	margin-top: 10px;

	word-wrap: break-word;
	flex-wrap: nowrap;
	flex-direction: row;

	padding: 10px;
}

.containerSkillIcon{
	margin-right: 5px;
}

.containerSkillInfo{
	align-items: flex-start;
	flex-direction: column;
	margin-left: 10px;
}

#skillTitle{
	margin-top: 0px;
}


.containerWelcome{
	display: -ms-flexbox;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: box;
	color: #333333;

	display: flex;
	align-items: center;

	-ms-flex-direction: row;
	-webkit-box-orient:horizontal;
	-moz-box-orient:horizontal;
	box-orient: horizontal;
}

.characterIcon{
	width: 200px;
	height: auto;

	margin-top: 30px;
	margin-right: 10px;
}

.dailyChallengeWrapper{
	background: #DBDBDB;

	display: flex;
	align-items: top;

	-webkit-justify-content: flex-start;
	justify-content: flex-start;

	margin-top: 10px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 40px;

	width: 900px;
	font-size: 23px;
}

.codeBox{
	width: 800px;
	height: 400px;
}
/*
.rankIcon{
	width: 200px;
	height: 300px;
	flex-grow: none;
	margin-top: 30px;
	margin-right: 10px;
}
*/

.levelText{
	font-family: "Bebas Neue";
	font-size: 26px;
	size:100%;

	text-align: left;
}

body{
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: #F2F0E9;
	color: #333333;
	font-family: "Myriad Pro", "PT Sans";
}

html{
	height: 100%;
}

h1{
	margin-bottom: 0px;
}

a{
	
}

table{
	border-collapse: collapse;
	font-size: 18px;
	margin-top:20px;
}

tr:nth-child(odd) {
	background-color: #E5E3DC;
}

tr:nth-child(1) {
	background-color: #CDCCC6;
	font-weight: bold;
	line-height: 35px;
}

/*tr:hover{
	background-color: red;
}*/

.tableLeaderboard td{
	padding-right: 90px;
	padding-left: 90px;
	padding-top: 15px;
	padding-bottom: 15px;
}

td{
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 6px;
	padding-bottom: 6px;
}

td:nth-child(1){
	padding-right: 30px;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.hiddenTable tr{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.hiddenTable th{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.hiddenTable td{
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.hiddenTable{
	width: 100%;
}

.currentUserLeaderboard{
	background: #FFD8A1 !important;
	font-weight: bold;
}

/*Hacks*/
.marginRightHack{
	margin-right: 10px;
}


/* Add PT Sans FONT */
/* cyrillic-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/JX7MlXqjSJNjQvI4heMMGvY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/9kaD4V2pNPMMeUVBHayd7vY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/ATKpv8nLYAKUYexo8iqqrg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
